body {
    background-image: url("../../../../assets/img/kl.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    transition: 0.3s;

    .container-fluid {
        height: 100vh !important;
        padding: 0;

        #main {
            position: relative;
            background: #f7f7f7;
            width: 50%;

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                color: rgb(167, 0, 0);
                font-size: 100px;
                font-weight: 600;

                fa-icon {
                    margin-left: 10px;
                    font-size: 60px;
                }
            }

            footer {
                position: absolute;
                bottom: 10px;
                font-size: 14px;
            }
        }
    }
}

/* Laptops/desktops, 1200px and up */
@media only screen and (min-width: 1200px) {}

/* Small laptops/desktops, 992px and up */
@media only screen and (min-width: 992px) {}

/* Landscape tablets, 992px and down */
@media only screen and (max-width: 992px) {}

/* Landscape tablets, 768px and up */
@media only screen and (min-width: 768px) {}

/* Portrait tablets and larger phones, 768px and down */
@media only screen and (max-width: 768px) {
    .container-fluid {
        #main { width: 100% !important; }
    }
}

/* Portrait tablets and larger phones, 600px and up */
@media only screen and (min-width: 600px) {}

/* Phones, 600px and down */
@media only screen and (max-width: 600px) {}