.content {
    background: #f5f5f5;
    padding-right: 25px;
    padding-left: 115px;
    transition: 0.3s;
    width: 100vw !important;
    height: 100vh !important;
    
    &.sidebarExpanded { padding-left: 280px; }
}