<body>
    <app-loader></app-loader>
    <div class="container-fluid">
        <section id="main">
            <div class="wrap-center">
                <img id="logo" src="assets/img/jsmsoftware.png" alt="CRM by JSM Software" width="100" />
                <div class="icon">
                    <p>404</p>
                    <fa-icon [icon]="'person-circle-question'"></fa-icon>
                </div>
                <p class="text-center">Oops! The page you are looking for was not found.</p>
                <button class="btn btn-primary mt-3" (click)="goBack()">Go back</button>
                <footer>© {{ currentYear }} JSM Software. All rights reserved.</footer>
            </div>
        </section>
    </div>
</body>